ion-header {
  ion-menu-button {
    color: var(--black-color);
  }
}

.container {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -55%);
}

.background-img {
  background-size: contain;
  background-position: 50%;
  background-repeat: no-repeat;
  height: 200px;
  width: 275px;
}
