.discount_type {
  padding: 20px;
}
.mt-10{
    margin-top: 10px;
}
.d-flex {
  display: flex;
  flex-direction: column;
  .top {
    display: flex;
    justify-content: space-between;
    margin-top: 14px;
  }
}
.card-radio-view {
  .radio-name {
    margin-top: 7px;
  }
  .radio-card {
    height: 100px;
    background-color: #fff;
    border-radius: 4px;
    position: relative;
    width: 48%;
    border: none;
    box-shadow: 0px 0px 1px 1px var(--from-box-color);

    .radio {
      font-size: inherit;
      margin: 0;
      position: absolute;
      right: 12px;
      top: 12px;
    }

    .radio {
      margin-top: 7px;
      -webkit-appearance: none;
      -moz-appearance: none;
      background: #fff;
      border: 2px solid var(--grey-info-text);
      border-radius: 50%;
      cursor: pointer;
      height: 1rem;
      outline: none;
      transition: background 0.2s ease-out, border-color 0.2s ease-out;
      width: 1rem;

      &::after {
        border: 2px solid #fff;
        border-top: 0;
        border-left: 0;
        content: "";
        display: block;
        height: 0.45rem;
        left: 16%;
        position: absolute;
        top: 40%;
        transform: rotate(45deg) translate(-50%, -50%);
        width: 0.16rem;
      }

      &:checked {
        background: var(--success-color);
        border-color: var(--success-color) !important;
      }
    }
    .radio:checked ~ .card {
      background-color: var(--secondary-card-btn-clr) !important;
    }

    .radio-details {
      border-radius: 6px;
      border: none;
      cursor: pointer;
      display: flex;
      flex-direction: column;
      padding: 12px 10px;
      transition: border-color 0.2s ease-out;
    }

    .radio:checked ~ .radio-details {
      background-color: var(--success-overlay-color) !important;
      height: 100%;
      border: 1px solid var(--success-color);
      color: var(--success-color) !important;
      box-shadow: 0px 0px 4px var(--success-color);
      .dec-txt {
        color: var(--success-color) !important;
      }
    }

    .radio:disabled ~ .radio-details {
      color: var(--color-dark-gray);
      cursor: default;
    }
  }
}
.underline {
  border-bottom: 8px solid var(--disabled-color);
  width: 100%;
}
.percentage{
  padding: 20px;
}
.d-flex-input {
  display: flex;
  width: 35%;
  margin-top: 8px;
}
.ion-custom {
  border: 0.6px solid var(--from-box-color);
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  height: 40px;
  width: 100px;
  --placeholder-opacity: 0.3;
}
.ion-custom.order_value{
  border-radius: 4px;
}

.custom-label {
  width: 35px;
  height: 40px;
  background-color: var(--from-box-color);
  border: 0.6px solid var(--from-box-color);
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  margin-left: -2px;
  padding: 8px 7px;
}
.sub_underline{
  border-bottom: 2px solid var(--disabled-color);
  width: 100%;
  margin: 12px 0;
}
.sub_underline2{
  border-bottom: 2px solid var(--disabled-color);
  width: 100%;
}

ion-toggle {
  width: 38px;
  height: 20px;
  padding: 0px;
  --handle-width: 18px;
  --handle-height: 18px;
  --background-checked: var(--success-color);
  --handle-background: var(--white-clr);
  --handle-background-checked: var(--white-clr);
  --handle-spacing: 2px;
}
.d-flex-horizontal{
  display: flex;
  justify-content: space-between;
}
.fixedAmount{
  padding: 20px;
}
.freeShipping{
  padding: 20px;
}
.buyXgetY{
  padding: 20px 20px 0 20px;
}
ion-radio-group ion-item::part(native){
  padding-inline-start:unset;
}
ion-item {
  --ripple-color: transparent;
}
ion-item.item-radio-checked {
  ion-label{
    color: var(--primary-dark-clr);
    font-weight: 900;
  }
}
.padding-20{
  padding: 20px;
}
ion-radio{
  --color-checked:var(--primary-dark-clr)!important;
}
.browse-btn {
  border-color: var(--primary-dark-clr) !important;
  color: var(--primary-dark-clr) !important;
  border-radius: 25px;
  --box-shadow: none;
  background: var(--layout-bg-color);
  --ripple-color: transparent;
}
ion-button {
  --box-shadow: none;
  --ripple-color: transparent;
}
.footer{
  position: fixed;
  width: 100%;
  bottom: 0;
  z-index: 3;
}
.extra-height{
  height: 46px;
}
.disabled-event {
  cursor: no-drop !important;
  opacity: 0.5;
  pointer-events: none;
}

ion-select {
  width: 100%;
}
.browse-btn {
  border-color: var(--success-color) !important;
  color: var(--success-color) !important;
  background: var(--success-overlay-color);
  border-radius: 25px;
  --box-shadow: none;
  --ripple-color: transparent;
  width: 100%;
}