ion-content {
  .backicon {
    margin: 20px;
  }
  ion-grid {
    .text-blue {
      color: var(--secondary-blue-clr);
    }
    margin: 0 1.8rem;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80%;
    form {
      width: 100%;
    }
  }
}
