<ion-header [translucent]="true">
  <ion-toolbar>
    <div class="header-info">
      <div class="header-center">
        <ion-img src="assets\icon\Yumzyx_logo.svg"></ion-img>
      </div>
    </div>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  <div>
    <div class="ion-text-center background-image">
      <div class="image-content">
        <ion-img src="assets\icon\offline.png" class="image-view"></ion-img>
        <p class="black-color sitefontmedium  image-status  fs-16">No Internet</p>
        <p class="black-color image-txt fs-12">Please check internet connection of your device.</p>
      </div>
    </div>
  </div>
</ion-content>