<div class="inner-content">
  <p class="fs-14 sitefontmedium">Summary</p>
  <div class="ion-padding-vertical code">
    <span class="fs-12 sitefontmedium grey-info-text">code : </span>
    <span class="fs-20 primary-light-clr sitefontsemibold">
      VCHSBNFDVDJKSLNK
    </span>
  </div>
  <div class="ion-margin-vertical">
    <p class="fs-12 items grey-info-text">Available on online sales channels</p>
    <p class="fs-12 items grey-info-text">One use per customer</p>
  </div>
  <p class="fs-14 text-button-color">PERFORMANCE</p>
  <p class="fs-12 sitefontmedium pending-color">Discount is not active yet.</p>
  <p class="fs-12 sitefontmedium ion-margin-vertical">CAN’T COMBINE WITH OTHER AUTOMATIC DISCOUNTS</p>
  <p class="fs-12 grey-info-text ion-margin-vertical">Customers won’t be able to enter a code if an automatic discount
    is already applied at
    checkout.</p>
  <ion-button expand="block" class="theme-btn fs-12 sitefontmedium">
    Create discount
  </ion-button>

</div>