.inner-content {
  .image_item {
    height: 25vh;
  }
  .item_space {
    margin-top: 10px;
  }
  .under-line {
    border-bottom: 1px solid var(--disabled-color);
    margin: 0.1rem 0.3rem;
  }
  ion-text {
    margin-top: 10px;
    display: block;
    height: 60px;
  }
  img {
    display: block;
    width: 100%;
    height: 100%;
  }
}
