<ion-content>
  <ion-col size=12>
    <ion-icon (click)="otpPage()" class="fs-30 backicon " name="arrow-back-outline"></ion-icon>
  </ion-col>
  <ion-grid>
    <ion-row>
      <ion-col size=12 class=" ion-margin-top">
        <div class="ion-text-center">
          <ion-text class="sitefontsemibold fs-22">
            Forgot Password
          </ion-text>
        </div>
      </ion-col>
      <form [formGroup]='confirmForm' (ngSubmit)="proceed()" class="ion-padding-top ion-margin-top">
        <ion-col size=12 class="ion-padding-top ion-margin-top ion-no-padding">
          <ion-label class="ion-padding-top inp-label">Mobile Number*</ion-label>
          <ion-item lines="none" class="custom-item" [ngClass]="{ 'is-inp-invalid':getvalidAll('mobile')}">
            <select class="position-absolute select-country-code pointer" formControlName="countryCode">
              <option value="+91" selected>+91</option>
              <option value="+1">+1</option>
            </select>
            <ion-input autocomplete="off" maxlength="10" type="tel" formControlName="mobile" placeholder="Enter Phone">
            </ion-input>
          </ion-item>
          <div class="error-view">
            <div *ngIf="getvalidAll('mobile')" class="fw-4">
              <ion-text *ngIf="confirmForm.controls.mobile.errors?.required">
                Please enter your Mobile Number
              </ion-text>
              <ion-text *ngIf="confirmForm.controls.mobile.errors?.min
               || confirmForm.controls.mobile.errors?.max">
                Please enter a valid Mobile Number</ion-text>
            </div>
          </div>
        </ion-col>
        <ion-col size=12>
          <ion-button class="theme-btn" expand="block" type="submit">Proceed</ion-button>
        </ion-col>
      </form>
    </ion-row>
  </ion-grid>
</ion-content>