<form [formGroup]="priceRangeForm" *ngIf="formInit">
  <div [formArrayName]="'range'">
      <p class="fs-12 grey-info-text ion-padding-bottom"><b>Calculations</b> based on <b>Cart value range</b></p>
      <div *ngFor="let range of priceRangeForm['controls']['range']['controls']; let i = index">
        <div [formGroupName]="i">
          <ion-row>
            <ion-col size="11">
              <div class="d-flex ion-justify-content-between ion-padding-top">
                <div class="d-flex position-relative" style="margin-right: 18px;">
                  <span class="fs-10 title-text">Delivery fee</span>
                  <ion-input type="text" formControlName="price" onlyNumber restrictFirstSpace
                   maxlength="5" class="fs-12" placeholder="100.00" [ngClass]="{'is-inp-invalid': isInvalid(range, 'price')}"></ion-input>
                  <div class="custom-label fs-12">{{currency?.name}}</div>
                </div>
                <div class="d-flex position-relative">
                  <span class="fs-10 title-text">{{title}}</span>
                  <ion-input type="text" formControlName="from" onlyNumber restrictFirstSpace 
                  maxlength="5" class="fs-12 inp-control" [ngClass]="{'is-inp-invalid': isInvalid(range, 'from')}" placeholder="Min"></ion-input>
                  <div class="custom-label fs-12">{{dropOpt}}</div>
                </div>
                <span style="display: inline; margin-top: 6px;">-</span>
                <div class="d-flex">
                  <ion-input type="text" formControlName="to" onlyNumber restrictFirstSpace 
                  class="fs-12" [ngClass]="{'is-inp-invalid': isInvalid(range, 'to')}" placeholder="Max"></ion-input>
                  <div class="custom-label fs-12">{{dropOpt}}</div>
                </div>
              </div>
            </ion-col>
            <ion-col size="1">
              <div *ngIf="i == priceRangeForm['controls']['range']['controls'].length - 1">
                <img (click)="addDistance(range)" src="assets/icon/icon-add.svg" style="position: relative; top: 24px; left: 4px; width: 20px;">
              </div>
              <div *ngIf="i !== priceRangeForm['controls']['range']['controls'].length - 1">
                <img (click)="removeDistance(range)" src="assets/icon/icon-cancel.svg" style="position: relative; top: 24px; left: 4px; width: 20px;">
              </div>
            </ion-col>
            <div *ngIf="isInvalid(range, 'from') || isInvalid(range, 'to') || isInvalid(range, 'price')">
              <p class="fs-10 error-color">{{getErrorMsg(range)}}</p>
            </div>
            <hr class="hr">
          </ion-row>
        </div>
      </div>
  </div>
</form>