ion-content {
  ion-grid {
    margin: 0 1.8rem;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    form {
      width: 100%;
    }
  }
  ion-img {
    width: 120px;
    margin-bottom: 20px;
  }
  ion-text.title-txt {
    color: var(--primary-dark-clr);
    font-size: 20px;
  }
  ion-text.sub-title-txt {
    color: var(--black-color);
    font-size: 14px;
  }
}
