<ion-content>
  <ion-col size=12>
    <ion-icon (click)="otpPage()" class="fs-30 backicon " name="arrow-back-outline"></ion-icon>
  </ion-col>
  <ion-grid>
    <ion-row>
      <ion-col size=12 class=" ion-margin-top">
        <div class="ion-text-center">
          <ion-text class="sitefontsemibold fs-22">
            Create Password
          </ion-text>
        </div>
      </ion-col>
      <form [formGroup]='confirmForm' (ngSubmit)="proceed()" class="ion-padding-top ion-margin-top">
        <ion-col size=12 class="ion-no-padding passwordinput">
          <ion-label class="inp-label">Password</ion-label>
          <ion-item lines="none" class="custom-item" [ngClass]="{ 'is-inp-invalid':getvalidAll('password')}">
            <ion-input [type]="passwordType" formControlName="password" placeholder="Password" autocomplete="off">
            </ion-input>
            <ion-icon *ngIf="passwordShown" (click)="togglePassword()" name="eye"></ion-icon>
            <ion-icon *ngIf="!passwordShown" (click)="togglePassword()" name="eye-off"></ion-icon>
          </ion-item>
          <div class="error-view ion-text-start">
            <div *ngIf="getvalidAll('password')" class="fw-4">
              <ion-text *ngIf="confirmForm.controls.password.errors?.required" class="error-msg-txt">
                Please enter your Password
              </ion-text>
              <ion-text *ngIf="confirmForm.controls.password.errors?.minlength">
                Please enter min six characters</ion-text>
            </div>
          </div>
        </ion-col>
        <ion-col size=12 class="ion-padding-top">
          <ion-label class="inp-label">Confirm Password</ion-label>
          <ion-item lines="none" class="custom-item" [ngClass]="{ 'is-inp-invalid':getvalidAll('confirmPassword')}">
            <ion-input [type]="passwordType2" formControlName="confirmPassword" placeholder="Confirm Password"
              (input)="disablePswdMismatch()" autocomplete="off"></ion-input>
            <ion-icon *ngIf="passwordShown2" (click)="togglePassword2()" name="eye"></ion-icon>
            <ion-icon *ngIf="!passwordShown2" (click)="togglePassword2()" name="eye-off"></ion-icon>
          </ion-item>
          <div class="error-view">
            <div *ngIf="getvalidAll('confirmPassword')" class="fw-4">
              <ion-text *ngIf="confirmForm.controls.confirmPassword.errors?.required">
                Please enter your Confirm Password
              </ion-text>
              <ion-text *ngIf="confirmForm.controls.confirmPassword.errors?.minlength">
                Please enter min six characters
              </ion-text>
            </div>
            <div>
              <ion-text *ngIf="showPasswordMismatch" class="float-left">
                password mismatch
              </ion-text>
            </div>
          </div>
        </ion-col>
        <ion-col size=12>
          <ion-button class="theme-btn" expand="block" type="submit">Proceed</ion-button>
        </ion-col>
      </form>
    </ion-row>
  </ion-grid>
</ion-content>