.outlet-op-timing {
  height: calc(100vh - 205px);
  overflow-y: scroll;
  .delivery-service {
    padding: 24px 20px 0px;
  }
}


.content {
  overflow-y: scroll;
  height: calc(100vh - 122px - 80px);
  display: block;
  padding: 0 !important;
  margin: 0 !important;
}
.border {
  height: 8px;
  background: var(--layout-bg-color);
  margin-bottom: 20px;
}

.navigation-secton {
  padding: 0px 20px;
  .img-section {
    display: flex;
    align-items: center;
    margin-bottom: 14px;

    color: #6c63ff;

    ion-img {
      width: 16px;
      margin-right: 5px;
      display: inline-block;
      filter: invert(37%) sepia(68%) saturate(2797%) hue-rotate(228deg)
        brightness(101%) contrast(101%);
    }
  }
}

.button-section {
  padding: 15px 20px 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: sticky;
  background: var(--white-clr);
  box-shadow: 0 -2px 2px #00000029;

  ion-button {
    width: 160px !important;
    --padding-top: 10px;
    --padding-bottom: 10px;
    --border-radius: 4px;
  }
  ion-button:first-child {
    color: var(--black-color);
    --background: var(--white-clr) !important;
    border: 1px solid var(--primary-dark-clr);
    border-radius: 4px;
    margin-right: 15px;
  }
}
.card-radio-view {
  .radio-card {
    position: relative;
    background-color: var(--white-clr);
    border-radius: 6px;
    width: 100%;
    display: block;
    margin: 20px 0px;
    border: none;
    box-shadow: 0px 0px 1px 1px var(--box-clr);

    .radio {
      font-size: inherit;
      display: block;
      margin: 0;
      position: absolute;
      top: 12px;
      right: 15px;
 
    }

    .radio {
      -webkit-appearance: none;
      -moz-appearance: none;
      // background: var(--white-clr);
      border: 2px solid var(--box-clr);
      border-radius: 50%;
      cursor: pointer;
      height: 1.2rem;
      outline: none;
      z-index: 5;
      transition: background 0.2s ease-out, border-color 0.2s ease-out;
      width: 1.2rem;

      &::after {
        border: 2px solid var(--white-clr);
        border-top: 0;
        border-left: 0;
        content: "";
        display: block;
        height: 0.75rem;
        left: 22%;
        position: absolute;
        top: 44%;
        transform: rotate(45deg) translate(-50%, -50%);
        width: 0.34rem;
      }

      &:checked {
        background: var(--success-color);
        border-color: var(--success-color) !important;
      }
    }
    .radio:checked ~ .card {
      background-color: var(--secondary-card-btn-clr) !important;
    }

    .radio-details {
      border-radius: 6px;
      border: 1px solid #dddddd;
      cursor: pointer;
      color: var(--grey-info-text);
      display: flex;
      flex-direction: column;
      padding: 10px 16px 10px 20px;
      transition: border-color 0.2s ease-out;
      > span {
        color: var(--grey-info-text) !important;
      }
    }

    .radio:checked ~ .radio-details {
      background-color: var(--success-overlay-color) !important;
      height: 100%;
      border: 1px solid var(--success-color);
      box-shadow: 0 0 4px var(--success-color);
    }
    .radio:checked ~ .radio-details span {
      color: var(--success-color) !important;
    }

    .radio:disabled ~ .radio-details {
      color: var(--color-dark-gray);
      cursor: default;
    }

    .radio:disabled ~ .radio-details .title-txt {
      color: var(--box-clr);
    }

    .card:hover .radio:disabled ~ .radio-details {
      border-color: var(--box-clr);
      box-shadow: none;
    }

    .card:hover .radio:disabled {
      border-color: var(--box-clr);
    }

    .title-txt {
      color: var(--primary-dark-clr);
    }
    .dec-txt {
      font-size: 12px;
      color: var(grey-info-text);
      text-align: left;
      margin-top: 0.5rem;
    }
  }
}

ion-footer {
  box-shadow: 0px -2px 6px 1px #00000020;
  padding: 10px 0;
}