ion-header {
  box-shadow: 0 2px 2px #00000029;
  ion-toolbar {
    --background: var(--layout-bg-color) !important;
    padding: 0px 48px 0px 0px;
    text-align: center;
  }
}
ion-content{
  .upload-new-button-box {
    display: none;
  }
  .upload-btn {
    border-color: var(--success-color) !important;
    color: var(--success-color) !important;
    border-radius: 25px;
    --box-shadow: none;
    --ripple-color: transparent;
    width: 100%;
  }
  ion-range {
    --bar-height: 6px;
    --bar-border-radius: 10px;
    --knob-background: var(--primary-dark-clr);
    --bar-background: var(--layout-bg-color);
    --bar-background-active: var(--primary-dark-clr);
  }
  ion-item::part(native) {
    padding-inline-start: unset;
  }
  ion-item{
    --inner-padding-end: 0px;
    --padding-start:0px
}
}
ion-footer {
  margin-bottom: 10px;
}

