@font-face {
  font-family: 'icomoon';
  src:  url('https://sgp1.digitaloceanspaces.com/listing/restaurant-dashboard-v2/assets/icons/3.1.2/icomoon.eot?mfq2px');
  src:  url('https://sgp1.digitaloceanspaces.com/listing/restaurant-dashboard-v2/assets/icons/3.1.2/icomoon.eot?mfq2px#iefix') format('embedded-opentype'),
    url('https://sgp1.digitaloceanspaces.com/listing/restaurant-dashboard-v2/assets/icons/3.1.2/icomoon.ttf?mfq2px') format('truetype'),
    url('https://sgp1.digitaloceanspaces.com/listing/restaurant-dashboard-v2/assets/icons/3.1.2/icomoon.woff?mfq2px') format('woff'),
    url('https://sgp1.digitaloceanspaces.com/listing/restaurant-dashboard-v2/assets/icons/3.1.2/icomoon.svg?mfq2px#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"],
[class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "icomoon" !important;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-visibility_off:before {
  content: "\e941";
}
.icon-visibility:before {
  content: "\e942";
}
.icon-indicator:before {
  content: "\e92f";
}
.icon-check-circle-fill:before {
  content: "\e900";
}
.icon-check:before {
  content: "\e90a";
}
.icon-list-reorder:before {
  content: "\e90d";
  color: #707070;
}
.icon-back:before {
  content: "\e92b";
}
.icon-order:before {
  content: "\e926";
}
.icon-manage-users:before {
  content: "\e91d";
}
.icon-social:before {
  content: "\e943";
}
.icon-dashboard:before {
  content: "\e923";
}
.icon-setup:before {
  content: "\e922";
}
.icon-back-arrow:before {
  content: "\e92c";
}
.icon-right-arrow:before {
  content: "\e92a";
}
.icon-caret-right:before {
  content: "\e94b";
}
.icon-open-grid-two-up:before {
  content: "\e949";
}
.icon-cross-circle:before {
  content: "\e91b";
}
.icon-open-list-rich:before {
  content: "\e94a";
}
.icon-off:before {
  content: "\e94c";
}
.icon-down-arrow:before {
  content: "\e928";
}
.icon-play-video:before {
  content: "\e910";
}
.icon-Current-location:before {
  content: "\e91b";
}
.icon-search-small:before {
  content: "\e930";
}
.icon-pen:before {
  content: "\e93b";
}
.icon-add:before {
  content: "\e91b";
}
.icon-timer:before {
  content: "\e924";
}
.icon-calendar:before {
  content: "\e933";
}
.icon-logout:before {
  content: "\e903";
}
.icon-information:before {
  content: "\e936";
}
.icon-cross:before {
  content: "\e92d";
}
.icon-color-picker:before {
  content: "\e909";
}
.icon-filter-stripe:before {
  content: "\e947";
}
.icon-arrow-dropdown:before {
  content: "\e925";
}
.icon-on:before {
  content: "\e948";
}
.icon-delete:before {
  content: "\e911";
}
.icon-cross-outline:before {
  content: "\e902";
}
